@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles for blockquotes */
@layer base {
  blockquote {
    @apply border-l-4 border-gray-200 pl-4 italic;
  }
}

/* Spinner animation keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Spinner styling */
.spinner {
  @apply inline-block w-16 h-16 border-4 border-solid border-current border-r-transparent rounded-full animate-spin;
  animation: spin 1s linear infinite;
}


@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}