/* Styles for main link containers */
.nav-link-container, .nav-link-ladder {
  position: relative;
  padding-left: 1.25rem; /* Adjusted for more flexibility */
}

/* Vertical line for main links */
.nav-link-container::before {
  content: "";
  position: absolute;
  left: 1.4rem; /* Adjusted to position consistently */
  top: 1.2rem;
  bottom: 0.6rem; /* Extend the line downwards */
  width: 2px;
  background-color: #cbd5e0;
}

/* Styles for sub-link ladders (sub-links) */
.nav-link-ladder {
  position: relative;
  padding-left: 1.75rem; /* Ensure sufficient space for lines */
}

/* Horizontal line connecting main link to sub-links */
.nav-link-ladder::before {
  content: "";
  position: absolute;
  top: 50%; /* Center vertically in the item */
  left: -0.80rem; /* Starts to the left of the item */
  width: 1.25rem; /* Length of the horizontal line */
  height: 2px;
  background-color: #cbd5e0;
}



.dot::before {
  content: "";
  height: 6px;
  width: 6px;
  background-color: #151e29; /* Match your active link color or any color you prefer */
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 10px;
  /* display: inline-block; */
}


.sidebar{
  max-height: calc(100vh - 160px); /* Adjust 160px to the actual height of your footer */
    overflow-y: auto;
}