@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    blockquote {
      @apply border-l-4 border-gray-200 pl-4 italic; /* Styling for blockquotes */
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spinner {
    @apply inline-block w-16 h-16 border-4 border-solid border-current border-r-transparent rounded-full animate-spin;
    animation: spin 1s linear infinite;
  }

  .playfair-display-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
@font-face {
    font-family: 'Graphik-Semibold';
    src: url('./assets/fonts/Graphik-Semibold.ttf') format('truetype');
    font-weight: 600; /* Assuming you want semibold to be 600 */
    font-style: normal;
}

@font-face {
    font-family: 'Graphik-Regular';
    src: url('./assets/fonts/Graphik-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal weight */
    font-style: normal;
}

.codingFont {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

@font-face {
    font-family: 'Graphik-Medium';
    src: url('./assets/fonts/Graphik-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium is often 500 */
    font-style: normal;
}

.inter-font {
    font-family: 'Inter', sans-serif; /* Corrected the fallback font name */
}

.graphik-font-regular {
    font-family: 'Inter', sans-serif;
}

.graphik-font-semibold {
    font-family: 'Inter', sans-serif;
}

.graphik-font-medium {
   font-family: 'Inter', sans-serif;
}
